<div class="row mb-5 mt-3">
  <div class="col-md-12 text-center">
    <h1 class="text-white">CONTACT US</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="mb-3">
      <div class="row">
        <div class="col-md-4 text-success text-right">
          <i class="eva eva-navigation-2-outline icon"></i>
        </div>
        <div class="col-md-8">
          <h4 class="text-white">California, United States</h4>
          <p class="text-white">Santa monica bullevard</p>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-md-4 text-success text-right">
          <i class="eva eva-phone-outline icon"></i>
        </div>
        <div class="col-md-8">
          <h4 class="text-white">00 (440) 9865 562</h4>
          <p class="text-white">Mon to Fri 9am to 6 pm</p>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-md-4 text-success text-right">
          <i class="eva eva-email-outline icon"></i>
        </div>
        <div class="col-md-8">
          <h4 class="text-white">support@mail.com</h4>
          <p class="text-white">Send us your query anytime!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <input
      type="text"
      name="name"
      nbInput
      fullWidth
      placeholder="Enter your name"
      class="mb-3"
    />
    <input
      type="email"
      name="email"
      nbInput
      fullWidth
      placeholder="Enter email address"
      class="mb-3"
    />
    <input
      type="text"
      name="subject"
      nbInput
      fullWidth
      placeholder="Enter subject"
    />
  </div>
  <div class="col-md-4">
    <textarea
      name="message"
      nbInput
      fullWidth
      placeholder="Enter Message"
      class="mb-3"
      rows="5"
    ></textarea>
    <button nbButton status="success" hero>Send Message</button>
  </div>
</div>
