<div class="row mb-5 mt-3">
  <div class="col-md-12 text-center">
    <h1 class="text-white">QUALITY WORK RECENTLY DONE PROJECT</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="ALL" class="text-white ">
            <div class="row multiline position-relative">
              <div class="col-md-4" [@projectAnimations]="prepareProject()">
                <nb-card>
                  <nb-card-body>
                    <div class="project-container">
                      <img src="../../../../assets/img/web.png" alt="" />
                      <h4 class="text-white">WEB ECCOMERCE STORE</h4>
                      <p>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                      </p>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
              <div class="col-md-4">
                <nb-card>
                  <nb-card-body>
                    <div class="project-container">
                      <img
                        src="../../../../assets/img/ui-ux-design.png"
                        alt=""
                      />
                      <h4 class="text-white">WEB FACTURATION</h4>
                      <p>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                      </p>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
              <div class="col-md-4">
                <nb-card>
                  <nb-card-body>
                    <div class="project-container">
                      <img src="../../../../assets/img/mobile.png" alt="" />
                      <h4 class="text-white">APP NOTIFY</h4>
                      <p>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                      </p>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
              <div class="col-md-4">
                <nb-card>
                  <nb-card-body>
                    <div class="project-container">
                      <img
                        src="../../../../assets/img/software_dev.png"
                        alt=""
                      />
                      <h4 class="text-white">WEB PROJECT MANAGMENT</h4>
                      <p>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                      </p>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="POPULAR" class="text-white">
            <div class="row multiline position-relative">
              <div class="col-md-4" [@projectAnimations]="prepareProject()">
                <nb-card>
                  <nb-card-body>
                    <div class="project-container">
                      <img src="../../../../assets/img/web.png" alt="" />
                      <h4 class="text-white">WEB ECCOMERCE STORE</h4>
                      <p>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                      </p>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
              <div class="col-md-4">
                <nb-card>
                  <nb-card-body>
                    <div class="project-container">
                      <img
                        src="../../../../assets/img/ui-ux-design.png"
                        alt=""
                      />
                      <h4 class="text-white">WEB FACTURATION</h4>
                      <p>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                      </p>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>

              <div class="col-md-4">
                <nb-card>
                  <nb-card-body>
                    <div class="project-container">
                      <img
                        src="../../../../assets/img/software_dev.png"
                        alt=""
                      />
                      <h4 class="text-white">WEB PROJECT MANAGMENT</h4>
                      <p>
                        A nebula is an interstellar cloud of dust, hydrogen,
                        helium and other ionized gases.
                      </p>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="WEBS" class="text-white">
            <p>List of <strong>transactions</strong>.</p>
          </nb-tab>
          <nb-tab tabTitle="APPS" class="text-white">
            <p>List of <strong>transactions</strong>.</p>
          </nb-tab>
          <nb-tab tabTitle="LATEST" class="text-white">
            <p>List of <strong>transactions</strong>.</p>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
