<nb-card style="width: 400px">
  <nb-card-header>REGISTER PROJECT</nb-card-header>

  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="createProject()">
      <div class="mb-3">
        <nb-select
          placeholder="Select category"
          fullWidth
          status="success"
          hero
          formControlName="categoryId"
          name="categoryId"
        >
          <nb-option
            value="{{ category._id }}"
            *ngFor="let category of categories"
            >{{ category.title }}</nb-option
          >
        </nb-select>
      </div>
      <div
        class="text-danger"
        *ngIf="f.categoryId.errors && f.categoryId.touched"
      >
        Category is required
      </div>
      <div class="mb-3">
        <input
          type="text"
          formControlName="title"
          name="title"
          nbInput
          fullWidth
          shape="rectangle"
          placeholder="Enter title"
        />
      </div>
      <div class="text-danger" *ngIf="f.title.errors && f.title.touched">
        Title is required
      </div>
      <div class="mb-3">
        <textarea
          formControlName="description"
          name="description"
          rows="5"
          nbInput
          fullWidth
          shape="rectangle"
          placeholder="Enter description"
        ></textarea>
        <div
          class="text-danger"
          *ngIf="f.description.errors && f.description.touched"
        >
          Description is required
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button nbButton status="danger" (click)="cancel()">Cancel</button>
        <button nbButton status="success" type="submit">
          Save
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
