<div class="header-container">
  <div class="logo-containter">
    <a class="logo" (click)="goToHome()">{{ title }} </a>
  </div>
</div>

<div class="header-container">
  <div class="menu__item">
    <a
      class="menu__link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </div>
  <div class="menu__item">
    <a class="menu__link" routerLink="/servicios" routerLinkActive="active"
      >Services</a
    >
  </div>
  <div class="menu__item">
    <a class="menu__link" routerLink="/portafolio" routerLinkActive="active"
      >Portfolio</a
    >
  </div>
  <div class="menu__item">
    <a class="menu__link" routerLink="/nosotros" routerLinkActive="active"
      >About</a
    >
  </div>
  <div class="menu__item">
    <a class="menu__link" routerLink="/contacto" routerLinkActive="active"
      >Contact</a
    >
  </div>
</div>
