@import "../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }
  .right {
    order: 1;
    flex-direction: row-reverse;
  }

  .logo-containter {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  .control-item {
    display: block;
  }

  .header-container {
    display: flex;
    position: relative;
    align-items: center;
    width: auto;

    .navigation {
      @include nb-ltr(padding-right, nb-theme(padding));
      @include nb-rtl(padding-left, nb-theme(padding));
      font-size: 2.5rem;
      text-decoration: none;

      i {
        display: block;
      }
    }

    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);
      @include nb-ltr(border-left, 1px solid nb-theme(separator));
      @include nb-rtl(border-right, 1px solid nb-theme(separator));
      white-space: nowrap;

      span {
        font-weight: nb-theme(font-weight-normal);
      }
    }

    .menu-toggle {
      cursor: pointer;
      display: block;
      margin-right: 15px;
      .hambuger {
        width: 30px;
        &:hover {
          .item-1 {
            width: 15px;
          }
          .item-2 {
            width: 30px;
          }
        }
        .item-1,
        .item-2 {
          height: 3px;
          background-color: #000;
          -webkit-transition-duration: 1s;
          -moz-transition-duration: 1s;
          -o-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-property: -webkit-transform;
          -moz-transition-property: -moz-transform;
          -o-transition-property: -o-transform;
          transition-property: transform;
        }
        .item-1 {
          margin-bottom: 5px;
          width: 30px;
          transition: width ease-in 0.3s;
        }

        .item-2 {
          right: 0;
          width: 15px;
          transition: width ease-in 0.3s;
        }
      }
      &.active {
        .hambuger {
          .item-1 {
            margin: 0;
            width: 30px;
            transform: rotate(45deg) translate(1px, 1px);
          }

          .item-2 {
            width: 30px;
            transform: rotate(-45deg) translate(1px);
          }
        }
      }
    }
    .menu-bg {
      position: fixed;
      width: 100vw;
      height: 75vh;
      left: 0;
      transform: translateY(-278px);
      opacity: 0;
      background-color: #fff;
      display: flex;
      justify-content: space-between;

      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      &.active {
        transform: translateY(278px);
        opacity: 1;
        // margin-top: 278px;
        .redes {
          a {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
      .redes {
        display: flex;
        align-items: flex-end;
        margin: 0 0 20px 20px;
        a {
          transform: translateY(-12px);
          opacity: 0;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 16px;
          padding: 10px;
          &:hover {
            color: #125d9e;
          }
        }
      }
      .menu {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        .menu__item {
          list-style-type: none;
          padding: 15px;
          margin-left: 2em;
          font-size: 35px;
          text-align: right;
          &:hover {
            background-color: rgba(115, 255, 208, 0.4);
            color: white;
          }
          .menu__link {
            text-decoration: none;
            &.active {
              color: #2628e1;
            }
          }
        }
      }
    }
  }

  @include nb-for-theme(corporate) {
    $menu-action-separator-color: #3f4550;

    nb-action {
      @include nb-ltr(border-left-color, $menu-action-separator-color);
      @include nb-rtl(border-right-color, $menu-action-separator-color);
    }

    .header-container .logo {
      @include nb-ltr(border, none);
      @include nb-rtl(border, none);
    }

    .header-container /deep/ ngx-theme-switcher .dropdown-toggle {
      color: nb-theme(color-white);
      background: transparent;
    }
  }

  ngx-layout-direction-switcher {
    margin: 0 1.5rem;
  }

  ngx-theme-switcher {
    margin: nb-theme(layout-padding);
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(xl) {
    ngx-layout-direction-switcher {
      display: none;
    }
  }

  .toggle-layout /deep/ a {
    display: block;
    text-decoration: none;
    line-height: 1;

    i {
      color: nb-theme(color-fg-highlight);
      font-size: 2.25rem;
      border-radius: 50%;
      position: relative;
      animation-name: pulse-light;

      &::after {
        content: " ";
        // hack to be able to set border-radius
        background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
        border-radius: 50%;
        pointer-events: none;

        position: absolute;
        top: 52.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13%;
        height: 13%;

        animation: 3s linear infinite pulse;

        @include nb-for-theme(default) {
          animation-name: pulse-light;
        }
      }
    }
  }

  @include keyframes(pulse) {
    0% {
      box-shadow: 0 0 1px 0 rgba(nb-theme(color-fg-highlight), 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(nb-theme(color-fg-highlight), 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(nb-theme(color-fg-highlight), 0);
    }
  }

  @include keyframes(pulse-light) {
    0% {
      box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
    }
  }

  @include media-breakpoint-down(md) {
    nb-action:not(.toggle-layout) {
      border: none;
    }

    .control-item {
      display: none;
    }

    .toggle-layout {
      padding: 0;
    }

    ngx-layout-direction-switcher {
      display: none;
    }

    ngx-theme-switcher {
      margin: 0 0.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    nb-user /deep/ .user-name {
      display: none;
    }

    .header-container {
      .menu-bg {
        flex-direction: column-reverse;
        .redes {
          margin: 0;
          a {
            font-size: 15px;
          }
        }
        .menu {
          display: flex;
          flex-direction: column;
          .menu__item {
            margin-left: 0em;
            font-size: 22px;
            text-align: left;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(is) {
    .header-container {
      .logo {
        font-size: 1.25rem;
      }
    }

    .toggle-layout {
      display: none;
    }

    ngx-theme-switcher {
      display: none;
    }

    nb-action:not(.toggle-layout) {
      padding: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    .right /deep/ {
      display: none;
    }
  }
}
