@import "../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  .landing {
    color: #fff;
    padding: 30px;
    .lan__s {
      color: rgb(187, 184, 184);
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .lan__im {
      color: #fff;
      font-weight: nb-theme(font-weight-bolder);
      font-size: 4em;
      margin-bottom: 40px;
    }

    .lan__btn {
      button {
        margin-right: 2em;
      }
    }
    .lan__img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }
  }
}
