<div class="row mb-5 mt-3">
  <div class="col-md-12 text-center">
    <h1 class="text-white">SERVICE OFFERS</h1>
  </div>
</div>
<div class="row services">
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-4">
            <img
              src="../../../../assets/img/ui-ux-design.png"
              alt="ui-ux-design"
            />
          </div>
          <div class="col-8">
            <h4 class="text-white">UI & UX</h4>
            <p class="text-white">
              A nebula is an interstellar cloud of dust, hydrogen, helium and
              other ionized gases. Any diffuse astronomical object, including
              galaxies beyond the Milky Way.
            </p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-4">
            <img src="../../../../assets/img/mobile.png" alt="mobile design" />
          </div>
          <div class="col-8">
            <h4 class="text-white">App Mobile Design</h4>
            <p class="text-white">
              Originally nebula was a name cloud of dust, hydrogen, helium and
              astronomical object, including galaxies beyond the Milky Way.
            </p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-4">
            <img src="../../../../assets/img/web.png" alt="web design" />
          </div>
          <div class="col-8">
            <h4 class="text-white">Web Design</h4>
            <p class="text-white">
              Originally, nebula was a name for any diffuse astronomical object,
              including galaxies beyond the Milky Way y other ionized gases.
            </p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <img
      src="../../../../assets/img/pro-design.png"
      class="img-experenced"
      alt="Experienced"
    />
    <h1 class="text-white mb-4">Experienced</h1>
    <div class="text-white">
      <ul class="mb-4">
        <li>
          Theme System - set of SCSS rules, which allows you to modify
          application look & feel by changing variables, with fewer custom
          styles.
        </li>
        <li>
          UI Kit - pure Angular components with two style themes and no 3rd
          party dependencies.
        </li>
        <li>Server-side rendering compatibility!</li>
        <li>Right-to-left writing system support for all components.</li>
      </ul>
    </div>
    <button nbButton status="danger" size="small">Contact now</button>
  </div>
</div>
