@import "../../../@theme/styles/themes";

@include nb-install-component() {
  .nb-table {
    width: 100%;
    th {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    button {
      margin-right: 5px;
      i {
        font-size: 16px;
      }
    }
  }
  /deep/ nb-layout-column {
    height: 80vw;
  }
}
